@font-face {
    font-family: fa;
    src: url("resources/misc/8bitoperator_jve.woff2") format("woff2");
    font-display: swap;
    
}
html, body {
    cursor: url("resources/images/Cursor.webp") 16 16, auto;
    height: 100%;
    margin: 0;
}
body {
    background-repeat: no-repeat;
    /* background-image: url("resources/images/Background.webp"); */
    background-size: 100%;
    image-rendering: pixelated;
    touch-action: manipulation;
    overflow: hidden;
    background-position: 0px -70px;
    background-color: rgb(10, 10, 10);
    transition: background-position 1s ease;

}
.interactable {
    position: absolute;
    cursor: url("resources/images/CursorHighlight.webp") 16 16, auto;
    opacity: 0;
    z-index: 100;
}
.animation {
    z-index: 0;
    background-repeat: no-repeat;
    image-rendering: pixelated;
}
.screen {
    height: 100%;
    --transition-time: 2s;
    display: none;
    flex-direction: column;
    align-items: center;
    transition: opacity var(--transition-time) ease, transform var(--transition-time) ease;
    opacity: 0;
}
.text {
    font-family: fa;
    color: white;
}
#game {
    height: 100%;
}
#door {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 500px;
    width: 500px;
}
#doorAnimation {
    --background-width: ;
    --animation-image: ;
    --animation-length: ;
    --frames: ;
    --background-size: ;
    --background-position: ;
    height: 500px;
    width: 500px;
    background-image: var(--animation-image);
    background-position-x : 0;
    background-size: var(--background-size);
    animation: anim var(--animation-length) steps(var(--frames)) infinite;
}
#animation {
    --background-width: ;
    --animation-image: ;
    --animation-length: ;
    --frames: ;
    --background-size: ;
    --background-position: ;
    margin-top: 100px;
    height: 500px;
    width: 500px;
    background-image: var(--animation-image);
    background-position-x : 0;
    background-size: var(--background-size);
    animation: anim var(--animation-length) steps(var(--frames)) infinite;
}

#switchAnimation {
    --background-width: ;
    --animation-image: ;
    --animation-length: ;
    --frames: ;
    --background-size: ;
    --background-position: ;
    filter: drop-shadow(0 0 13px rgb(255, 255, 255))
    drop-shadow(0 0 13px rgb(255, 255, 255))
    drop-shadow(0 0 13px rgb(255, 255, 255));
    height: 500px;
    width: 500px;
    background-image: var(--animation-image);
    background-position-x : 0;
    background-size: var(--background-size);
    animation: anim var(--animation-length) steps(var(--frames)) infinite;
    padding-bottom: 3px;
}
@keyframes anim {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 100%;
    }
}
#switch {
    height: 300px;
    position: fixed;
    margin: 0 auto;
    top: -30px;
    right: 0px;
    opacity: 0;
    transition: all 2s ease;
}
#counter {
    position: relative;
    text-align: center;
    margin: 0 auto;
    transition: all 1s ease;
}
#shopContainer {
    --height: 500px;
    --width: 1000px;
    position: fixed;
    visibility: hidden;
    top: 100px;
    right: -900px;
    height: var(--height);
    width: var(--width);
    color: white;
    transition: all 0.5s ease;
    opacity: 0;
}
#shopMenu {
    position: absolute;
    right: -130px;
    height: var(--height);
    width: var(--width);
    border: solid rgb(255, 255, 255);
    border-width: 10px;
    border-radius: 0px;
    background-color: black;

}
#shopTab {
    position: absolute;
    top: 300px;
    height: 100px;
    width: 100px;
    border: solid rgb(255, 255, 255);
    border-width: 10px;
    border-radius: 0px;
    background-color: black;
    font-size: 40px;
    transform: rotate(-90deg);
    text-align: center;
    z-index: 0;
}
#shopTab:hover {
    color: yellow;
}
#borderCover {
    position: absolute;
    height: 100px;
    width: 10px;
    background-color: rgb(0, 0, 0);
    top: 310px;
    left: 110px;
    z-index: 100;
}
/* #test {
    top: 23%;
    left: 22%;
    width: 57%;
    height: 77%;
} */
#textDiv {
    width: 95%;
    border: solid rgb(255, 255, 255);
    border-width: 10px;
    border-radius: 0px;
    background-color: black;
    color: white;
}
#text {
    font-size: 80px;
    padding: 20px;
    margin-top: 0px;
}
#textStart {
    position: relative;
    font-size: 80px;
    margin-top: 30vh;
    padding: 20px;
    text-align: center;
}
@media (max-width: 600px) {
    body {
        background-size: 260%;
        background-origin: 0 0;
        background-position: -70px -0px;
        background-color: rgb(10, 10, 10);
        cursor: url("resources/images/Cursor.webp") 16 16, auto;
    }
    #switch {
        margin-bottom: -300px;
    }
    #door {
        margin-top: 50%;
    }
    #doorAnimation {
        height: 300px;
        width: 300px;

    }
    #switchAnimation {
        height: 300px;
        width: 300px;
        }
    #animation {
        margin-top: 100px;
        height: 300px;
        width: 300px;
    }
    #shopContainer {
        position: absolute;
        align-items: center;
        flex-direction: column;
        display: flex;
        --height: 300px;
        --width: 300px;
        visibility: hidden;
        top: auto;
        left: 50%;
        bottom: -250px;
        height: var(--height);
        width: var(--width);
        transform: translate(-50%);
    }
    #shopContainer img {
        height: 100px;
    }
    #shopMenu {
        position: relative;
        top: -10px;
        right: 0px;
        bottom: 0px;
        height: var(--height);
        width: var(--width);
    
    }
    #shopTab {
        position: relative;
        top: 0;
        left: 0;
        bottom: 0;
        height: auto;
        width: 210px;
        font-size: 40px;
        transform: rotate(0);
        /* margin-bottom: -30px; */
    }
    #borderCover {
        position: absolute;
        height: 19px;
        width: 210px;
        background-color: rgb(0, 0, 0);
        top: 47px;
        left: 45px;
        z-index: 100;
    }
    #textDiv {
        margin: 0px;
        border-width: 7px;
        transition: all 1s ease;
    }
    #text {
        font-size: 40px;
    }
}