@font-face {
    font-family: fa;
    src: url("resources/misc/8bitoperator_jve_regular/8bitoperator_jve.woff2") format("woff2");
    font-display: swap;
    
}
body {
    overflow: hidden;
    background-color: rgb(10, 10, 10);
    cursor: url("resources/images/Cursor.webp") 16 16, auto;
}
.interactable {
    position: absolute;
    cursor: url("resources/images/CursorHighlight.webp") 16 16, auto;
    opacity: 0;
    z-index: 100;
}
.animation {
    z-index: 0;
    background-repeat: no-repeat;
}
#game {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#animation {
    --background-width: ;
    --animation-image: ;
    --animation-length: ;
    --frames: ;
    --background-size: ;
    --background-position: ;
    height: 500px;
    width: 500px;
    background-image: var(--animation-image);
    background-position-x : 0;
    background-size: var(--background-size);
    animation: anim var(--animation-length) steps(var(--frames)) infinite;
    padding-bottom: 3px;
}

#switchAnimation {
    --background-width: ;
    --animation-image: ;
    --animation-length: ;
    --frames: ;
    --background-size: ;
    --background-position: ;
    height: 500px;
    width: 500px;
    background-image: var(--animation-image);
    background-position-x : 0;
    background-size: var(--background-size);
    animation: anim var(--animation-length) steps(var(--frames)) infinite;
    padding-bottom: 3px;
}
@keyframes anim {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 100%;
    }
}
#switch {
    height: 300px;
    position: fixed;
    margin: 0 auto;
    top: -30px;
    right: 0px;
}
#switch button {
    top: 0;
    left: 400px;
    height: 280px;
    width: 30px;
}
#counter {
    width: fit-content;
    position: relative;
    text-align: center;
    margin: 0 auto;
}
#closedSign {
    top: 61%;
    left: 32%;
    width: 36%;
    height: 9%;
}
/* #test {
    top: 40%;
    left: 30%;
    width: 40%;
    height: 30%;

} */
#textDiv {
    border: solid rgb(255, 255, 255);
    border-width: 10px;
    border-radius: 0px;
    background-color: black;
    color: white;
}

#text {
    padding: 20px;
    margin-top: 0px;
    font-family: fa;
}
@media (max-width: 600px) {
    #switch {
        margin-bottom: -300px;
    }
    #switchAnimation {
        height: 300px;
        width: 300px;
        background-size: 8000px 300px;
        }
    #switch button {
        top: 0;
        left: 230px;
        height: 170px;
        width: 30px;
    }
    #animation {
        margin-top: 100px;
        height: 300px;
        width: 300px;
    }
    #closedSign {
        top: 65%;
        left: 32%;
        width: 36%;
        height: 9%;
    }
    #text {
        font-size: 40px;
    }
    #counter {
        margin-bottom: -2px;
    }
}
@media (min-width: 601px) {
    #switch {
        margin-bottom: -300px;
    }
    #switch img {
        height: 300px;
    }
    #animation {
        margin-top: 100px;
        /* height: 500px; */
    }

    #textDiv {
        margin: 50px;
    }

    #text {
        font-size: 80px;
    }
    #counter {
        margin-bottom: -53px;
    }
}