@font-face {
    font-family: fa;
    src: url("resources/misc/8bitoperator_jve.woff2") format("woff2");
    font-display: swap;

}

html,
body {
    cursor: url("resources/images/Cursor.webp") 16 16, auto;
    height: 100%;
    margin: 0;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

img {
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

body {
    background-repeat: no-repeat;
    /* background-image: url("resources/images/Background.webp"); */
    background-size: 100%;
    image-rendering: pixelated;
    touch-action: manipulation;
    overflow: hidden;
    background-position: 0px -70px;
    background-color: rgb(10, 10, 10);
    transition: background-position 1s ease;

}

.interactable {
    position: absolute;
    cursor: url("resources/images/CursorHighlight.webp") 16 16, auto;
    opacity: 0;
    z-index: 100;
}

.animation {
    z-index: 0;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    backface-visibility: hidden;
    will-change: background-position;
}

.screen {
    transform-origin: 50% 25%;
    height: 100%;
    --transition-time: 2s;
    display: none;
    flex-direction: column;
    align-items: center;
    transition: all var(--transition-time) ease;
    opacity: 0;
}

.text {
    font-family: fa;
    color: white;
}

.shopItem {
    position: absolute;
    display: flex;
    place-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    transition: all 0.5s ease;
}

#item {
    overflow: hidden;
}

#game {
    height: 100%;
}

#door {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 500px;
    width: 500px;
}

#doorAnimation {
    --background-width: ;
    --animation-image: ;
    --animation-length: ;
    --frames: ;
    --background-size: ;
    --background-position: ;
    height: 500px;
    width: 500px;
    background-image: var(--animation-image);
    background-position-x: 0;
    background-size: var(--background-size);
    animation: anim var(--animation-length) steps(var(--frames)) infinite;
}

#counterAnimation {
    --background-width: ;
    --animation-image: ;
    --animation-length: ;
    --frames: ;
    --background-size: ;
    --background-position: ;
    height: 600px;
    width: 500px;
    background-image: var(--animation-image);
    background-position-x: 0;
    background-position-y: 100px;
    background-size: var(--background-size);
    animation: anim var(--animation-length) steps(var(--frames)) infinite;
}

#switchAnimation {
    --background-width: ;
    --animation-image: ;
    --animation-length: ;
    --frames: ;
    --background-size: ;
    --background-position: ;
    filter: drop-shadow(0 0 13px rgb(255, 255, 255)) drop-shadow(0 0 13px rgb(255, 255, 255)) drop-shadow(0 0 13px rgb(255, 255, 255));
    height: 500px;
    width: 500px;
    background-image: var(--animation-image);
    background-position-x: 0;
    background-size: var(--background-size);
    animation: anim var(--animation-length) steps(var(--frames)) infinite;
    padding-bottom: 3px;
}

@keyframes anim {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: 100%;
    }
}

#switch {
    height: 300px;
    position: fixed;
    margin: 0 auto;
    top: -30px;
    right: 0px;
    opacity: 0;
    transition: all 2s ease;
}

#counter {
    position: relative;
    text-align: center;
    margin: 0 auto;
    transition: all 1s ease;
}

#shopContainer {
    --height: 500px;
    --width: 1000px;
    position: fixed;
    visibility: hidden;
    top: 100px;
    right: -900px;
    height: var(--height);
    width: var(--width);
    color: white;
    transition: all 0.5s ease;
    opacity: 0;
}

#shopMenu {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 2fr 1fr;
    position: absolute;
    right: -130px;
    height: var(--height);
    width: var(--width);
    border: solid rgb(255, 255, 255);
    border-width: 10px;
    border-radius: 0px;
    background-color: black;

}

#item {
    align-items: center;
    justify-items: center;
    position: relative;
    grid-column: 1;
    grid-row: 2;
    background-color: rgb(0, 0, 0);
    height: 100%;
    width: 100%;
}

#item img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

#description {
    display: flex;
    flex-direction: column;
    grid-column: 2;
    grid-row: 1 / 4;
    background-color: rgb(0, 0, 0);
    height: 100%;
    width: 100%;
    font-size: 220px;
}

.arrow {
    display: flex;
    align-items: center;
    background-color: rgb(0, 0, 0);
    grid-column: 1;
    height: 100%;
    width: 100%;
    justify-content: center;
}

.arrow img {
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    object-fit: contain;
}

#shopTab {
    position: absolute;
    top: 300px;
    height: 100px;
    width: 100px;
    border: solid rgb(255, 255, 255);
    border-width: 10px;
    border-radius: 0px;
    background-color: black;
    font-size: 40px;
    transform: rotate(-90deg);
    text-align: center;
    z-index: 0;
}

#shopTab:hover {
    color: yellow;
}

#borderCover {
    position: absolute;
    height: 100px;
    width: 10px;
    background-color: rgb(0, 0, 0);
    top: 310px;
    left: 110px;
    z-index: 100;
}

/* #test {
    top: 23%;
    left: 22%;
    width: 57%;
    height: 77%;
} */
#textDiv {
    width: 95%;
    border: solid rgb(255, 255, 255);
    border-width: 10px;
    border-radius: 0px;
    background-color: black;
    color: white;
}

#text {
    font-size: 80px;
    padding: 20px;
    margin-top: 0px;
    margin-bottom: 5px;
}

#textStart {
    position: relative;
    font-size: 80px;
    margin-top: 30vh;
    padding: 20px;
    text-align: center;
}

@media (max-width: 600px) {
    body {
        background-size: 260%;
        background-origin: 0 0;
        background-position: -70px -0px;
        background-color: rgb(10, 10, 10);
        cursor: url("resources/images/Cursor.webp") 16 16, auto;
    }

    #switch {
        margin-bottom: -300px;
    }

    #door {
        margin-top: 50%;
    }

    #doorAnimation {
        height: 300px;
        width: 300px;

    }

    #switchAnimation {
        height: 300px;
        width: 300px;
    }

    #counterAnimation {
        height: 400px;
        width: 300px;
    }

    #shopContainer {
        position: absolute;
        align-items: center;
        flex-direction: column;
        display: flex;
        --height: 400px;
        --width: 97%;
        visibility: hidden;
        top: auto;
        left: 50%;
        bottom: -352px;
        height: var(--height);
        width: var(--width);
        transform: translate(-50%);
    }

    #shopMenu {
        position: relative;
        top: 0;
        right: 0;
        bottom: 0;
        height: inherit;
        width: inherit;
        border-width: 7px;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: repeat(2, 1fr);
    }

    #item {
        align-items: center;
        justify-items: center;
        position: relative;
        grid-column: 2;
        grid-row: 1;
        background-color: rgb(0, 0, 0);
        height: 100%;
        width: 100%;
    }

    #description {
        display: flex;
        flex-direction: column;
        grid-column: 2;
        grid-row: 2;
        background-color: rgb(0, 0, 0);
        height: 100%;
        width: 100%;
        font-size: 20px;
    }

    #description span {
        text-align: center;
    }

    .arrow {
        display: flex;
        align-items: center;
        background-color: rgb(0, 0, 0);
        grid-row: 1 / 3;
        grid-column: auto;
        height: 100%;
        width: 100%;
        justify-content: center;
    }

    #shopTab {
        position: relative;
        top: 0;
        left: 0;
        bottom: 0;
        height: 50px;
        width: 210px;
        font-size: 40px;
        transform: rotate(0);
        border-width: 7px;
        margin-bottom: -7px;
    }

    #borderCover {
        position: absolute;
        height: 7px;
        width: 210px;
        background-color: rgb(0, 0, 0);
        top: 49px;
        left: 50%;
        translate: -50%;
        z-index: 100;
    }

    #textDiv {
        margin: 0px;
        border-width: 7px;
        transition: all 1s ease;
    }

    #text {
        font-size: 40px;
    }
}